body {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

body.home {
  text-align: center;
  font-family: Arial;
  background-image: url("/src/assets/images/background.jpg");
}

body.weather {
  background-color: #293251;
}

body.dragon {
  background-image: url("/src/assets/images/dragon.jpg");
}

body.todo {
  background-color: #293251;
}

body.chat {
  background-color: white;
}
